@font-face {
  font-family: "Exo2";
  src: url("Exo2-Regular.otf");
}
body {
  background-color: rgb(22, 98, 128);
  font-family: "Exo2";
  font-size: 25px;
  color: rgba(10, 10, 10, 0.733);
}

.nav {
  background-color: rgba(10, 10, 10, 0.733);
}

#navText1 {
  color: rgb(22, 98, 128);
}

#navText2 {
  color: rgb(22, 98, 128);
}

#nav-active {
  background-color: rgb(3, 203, 238);
  color: rgba(10, 10, 10, 0.733);
}
#nav-active:hover {
  background-color: rgb(3, 203, 238);
}

a {
  color: rgba(10, 10, 10, 0.733);
}

h2 {
  color: rgb(3, 203, 238);
  width: fit-content;
}
h2:hover {
  color: rgba(255, 166, 0, 0.705);
}

label {
  font-size: 20px;
}

.botsig {
  text-align: center;
}

.card {
  background-color: rgb(22, 98, 128);
  width: 40vw;
}

.border-dashed {
  border-style: dashed !important;
}

.coninfo {
  font-family: "Exo2";
  font-size: 50px;
  color: rgba(10, 10, 10, 0.733);
  text-align: center;
  font-weight: bold;
}